@import url(http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300&subset=latin,vietnamese);
#page {
	font-weight: normal;
    line-height: 1.5;
    padding-top: 60px;
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 14px;
    vertical-align: baseline;
    text-rendering: optimizelegibility;
}

.packet {
	float:left;
	display:block;
	width:16%;
	border-radius: 5px;
	border:solid 1px #3FA4E7;
	background: #2FA4E7;
	padding-left:10px;
	padding-right:10px;
	margin:10px;
	padding-top:10px;
	font-family: 'Open Sans Condensed', sans-serif;
	font-size: 12px;
	color:#ffffff;
}

.packet .label {
	width:100%;
	border-radius: 5px;
	background: #f6f6f6;
	color: #2FA4E7;
}

.partners a {
    background-position: center top;
    color: #FFFFFF;
    display: inline-block;
    float: left;
    height: 40px;
    margin: 5px 2px 5px 1px;
    text-indent: -7px;
}
.partners a:hover {
    background-position: center bottom;
    text-decoration: none;
}
.partners a img.img-partner {
    border: 1px solid #CCCCCC;
    height: 45px;
}
.footer {
    bottom: 0;
    margin: 5px auto 0;
    padding: 0;
    float:left;
    width: 100%;
}